/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@600&family=Lora:wght@600&family=Noto+Sans+Lao:wght@500&family=Noto+Serif+Lao&family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth; 
font-family: 'Noto Sans Lao', sans-serif;
font-family: 'Noto Serif Lao', serif;

}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/* nabar styling */
.navbar{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background-color: #181733;
    font-family: 'Ubuntu'sans-serif;
    z-index: 10;
}
hr{
    margin: 100px;
    width: 1000px
   
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul{
    float: right;
}
.navbar ul li{
    float: left;
    list-style: none;
    position: relative;
}
.navbar ul li ul{
    position: absolute;
    display: none;
    background-color: #181733;
    border-radius: 0px 0px 5px 5px;
}

.navbar ul li:hover ul{
    display: block;
}
.navbar ul li a{
    text-decoration: none;
    font-family: sans-serif;
    color: #fff;
    font-size: 17px;
    padding: 0px 16px;
    display: block;
}
.navbar .logo a{
    color: #ff0000;
    font-size: 2rem; 
}
.navbar .menu li{
    list-style: none;
    display: inline-block;

}
.navbar ul li ul li{
    line-height: 1;
    width: 190px;
    border-radius: 5px;
    padding: 6px;
}
.navbar ul li ul li a{
    padding: 10px 16px;
}
.navbar ul li ul li a:hover{
    background-color: #46527a;
    color: #ff0000;
}
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500px;
    margin-left: 25px;
}
/* home styling */
.home{
    display: flex;
    background: url(./img/team.jpg);
    height: 904px;
    min-width: 1280px;
    font-family: 'Ubuntu'sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
}

.card :hover{
    transform: scale(1.1);
}
.card-con{
    display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 50px;
}
   

.font h2{
    margin-left: 50px;
    margin-top: 30px;
}
.font-place{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.card img{ 
    margin-top: 30px;
    margin: 50px;
    display: flex;
}