/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@600&family=Lora:wght@600&family=Noto+Sans+Lao:wght@500&family=Noto+Serif+Lao&family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth; 
font-family: 'Noto Sans Lao', sans-serif;
font-family: 'Noto Serif Lao', serif;

}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/* nabar styling */
.navbar{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background-color: #181733;
    font-family: 'Ubuntu'sans-serif;
    z-index: 10;
}
hr{
    margin: 100px;
    width: 1000px
   
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul{
    float: right;
}
.navbar ul li{
    float: left;
    list-style: none;
    position: relative;
}
.navbar ul li ul{
    position: absolute;
    display: none;
    background-color: #181733;
    border-radius: 0px 0px 5px 5px;
}

.navbar ul li:hover ul{
    display: block;
}
.navbar ul li a{
    text-decoration: none;
    font-family: sans-serif;
    color: #fff;
    font-size: 17px;
    padding: 0px 16px;
    display: block;
}
.navbar .logo a{
    color: #ff0000;
    font-size: 2rem; 
}
.navbar .menu li{
    list-style: none;
    display: inline-block;

}
.navbar ul li ul li{
    line-height: 1;
    width: 190px;
    border-radius: 5px;
    padding: 6px;
}
.navbar ul li ul li a{
    padding: 10px 16px;
}
.navbar ul li ul li a:hover{
    background-color: #46527a;
    color: #ff0000;
}
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500px;
    margin-left: 25px;
}
/* home styling */
.home{
    display: flex;
    background: url(./img/team\ sard\ lao5.jpg);
    height: 904px;
    min-width: 1280px;
    font-family: 'Ubuntu'sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
}
.menu-btn:hover{
    color: #ff0000 !important;
}

/* about */
.brand-box{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.title {
    font-size: 50px;
    text-align: center; 
    color: black;
    padding: 4rem;
    
}
.column-between{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.column-between img{
    width: 100%;
    justify-items: center;
    padding: 3rem;
    height: 404px;
    width: 589px;
}
.column-between:hover img{
    transform: scale(1.1);
}
.text{
    font-size: 20px;
}
.blog-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    border-radius: 25px;
}
.blog-con2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 25px;
}
.blog-item img{
    width: 400px;
    height: 305px;
    padding: 3rem;
    
}
.blog-item:hover img{
    transform: scale(1.1)
}
.blog-item h4{
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 41px;
    font-size: 20px;
}
/* brand */
/* .font{
    color: #fff;
    font-size: 50px;
    text-align: end;
    justify-content: space-between;
}
.img img{
    border-radius: 100%;
    height: 409px;
    width: 409px;
}
.brand{
    background-color: #a62122;
    width: 100%;
    height: 704px;
}
.boss{
  width: 100%;
  padding: 10px;
  margin-top: 281px;
}
.logo1 img{
    width: 375px;
    height: 505px;
    margin: 50px;
}
.logo1 {
    display: flex;
    justify-content: space-between;
}
.logo2{
    display: flex;
    justify-content: space-between;
}
.logo2 img{
    width: 625px;
    height: 505px;
    padding: 30px;
    margin: 20px;
}
.logo1 h4{
    font-size: 40px;
    margin-right: 80px;
    margin-top: 80px;

}
.logo2 h4{
    font-size: 40px;
    margin-right: 80px;
    margin-top: 80px;
}
.logo1 span{
    background-color: #172466;
    width: 1000px;
    height: 100px;
    color: #fff;

}
.logo2 span{
    background-color: #172466;
    width: 1000px;
    height: 100px;
    color: #fff;
}
 */
